
<article>

  <p><strong>@<%= comment.user.username %></strong></p>
  <!-- HERE WE ARE REFERENCING THE COMMENT MODEL WITH THE COMMENT DATATYPE IN THE DB-->
  <p class="comment-body">
    <%= comment.content%>
  </p>

  <!-- TODO: CHECK OUT WHY THE DELETE FUNCTION AIN'T WORKING-->
  <% if current_user.id == comment.user_id %>
    <%= button_to 'Delete', post_comment_path(comment), method: :delete %>
  <%end %>

  <a href="#" class="comment-form-display">Reply</a>
  <div class="reply-sub-comment">
    <%= render partial: 'comments/format', locals: {post: comment.post, parent: comment} %>
  </div>

  <hr />
  <div class="sub-comment">
    <%= render comment.comments %>
  </div>


</article>


</div>

<script>
  document.querySelectorAll('.comment-form-display').forEach((el) => {
      el.addEventListener('click', (ev) => {
          ev.preventDefault();
          el.nextElementSibling.style = 'display: block;'
      })
  })
</script>

<style>
    .sub-comment {
        padding-left: 6em;
    }

    .reply-sub-comment {
        display: none;
    }
</style>