

<center>
  <section class="post">
    <div class="post-content">

      <div class="title">
        <p class="title"><strong>Title</strong></p>
        <%= @post.title %>
      </div>

      <div class="content">
        <p class="content"><strong>content</strong></p>
        <%= @post.content %>
      </div>

      <%= button_to 'Delete', post_path(@post), method: :delete, form: {data: {turbo_confirm: 'Are you sure?' }} %>
      <%= link_to 'Edit', edit_post_path %>
      <%= link_to 'Home', posts_path %>

    </div>
  </section>
  <br />
  <div class="comment-count"><h3><%= @post.comments.count %> <strong> Comments</strong></h3></div>
</center>


<br /> <hr />
<center>
  <section class="comments-section">
    <%= render @post.comments.where(parent_id: nil).order(id: :desc) %>


    <h2>Leave a reply</h2>
    <div class="form">
      <%= render partial: 'comments/format', locals:  { post: @post, parent: nil}%>
    </div>
  </section>
</center>