<!DOCTYPE html>
<html>
  <head>
    <title>Nesting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "rails-ujs" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>

  <header class="header" >
    <div class="header-content">
      <h1 class="logo">Nesting</h1>

      <ul class="list">
        <li class="sing-up"><%= link_to 'Sing-Up', users_new_path %></li>
        <li class="sign-in"><%= link_to 'Sign-In', sessions_new_path %></li>
        <li class="sign-out"><%= button_to 'Logout', sign_out_path, method: :delete %></li>
      </ul>
    </div>
  </header>

  <% if current_user %>
    <h4>Hello <%= current_user.username %></h4>
  <%end %>

  <p style="color: #B00100"><%= notice %></p>
    <%= yield %>
  </body>
</html>
